.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* padding: 10px; */
  border: 2px solid rgb(187, 185, 185);
  border-collapse: collapse;
  box-shadow: 1px 1px 20px 20px rgb(226, 225, 225);
}